@font-face {
  font-family: 'A-OTF Shin Go Pro';
  src: url('AOTFShinGoProBold.otf');
  src: local('A-OTF Shin Go Pro'), local('AOTFShinGoProBold'), url('AOTFShinGoProBold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'A-OTF Shin Go Pro';
  src: url('AOTFShinGoProMedium.otf');
  src: local('A-OTF Shin Go Pro'), local('AOTFShinGoProMedium'), url('AOTFShinGoProMedium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'A-OTF Shin Go Pro';
  src: url('AOTFShinGoProRegular.otf');
  src: local('A-OTF Shin Go Pro'), local('AOTFShinGoProRegular'), url('AOTFShinGoProRegular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'A-OTF Shin Go Pro';
  src: url('AOTFShinGoProLight.otf');
  src: local('A-OTF Shin Go Pro'), local('AOTFShinGoProLight'), url('AOTFShinGoProLight.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'A-OTF Maru Folk Pro';
  src: url('A-OTF-MaruFoPro-Medium.otf');
}

@font-face {
  font-family: 'A-OTF Folk Pro';
  src: url('A-OTF_FOLK_PRO-H.OTF');
  src: local('A-OTF Folk Pro'), local('A-OTF Folk Pro H'), url('A-OTF_FOLK_PRO-H.OTF');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'A-OTF Folk Pro';
  src: url('A-OTF_FOLK_PRO-M.OTF');
  src: local('A-OTF Folk Pro'), local('A-OTF Folk Pro M'), url('A-OTF_FOLK_PRO-M.OTF');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'A-OTF Folk Pro';
  src: url('A-OTF_FOLK_PRO-R.OTF');
  src: local('A-OTF Folk Pro'), local('A-OTF Folk Pro R'), url('A-OTF_FOLK_PRO-R.OTF');
  font-weight: normal;
  font-style: normal;
}