.top_fv_section {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .top_fv_section {
    background: #F1F1F1;
  }
}

.top_fv_section .top_fv_img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: calc(100vh - 60px);
  min-height: 500px;
  z-index: 0;
}

@media only screen and (max-width: 768px) {
  .top_fv_section .top_fv_img {
    display: none;
  }
}

.top_fv_section .top_fv_img img {
  position: relative;
  width: 100%;
  height: 100%;
}

.top_fv_section .top_fv_info {
  position: relative;
  padding: 20px 0;
  margin: 0;
}

@media print, screen and (min-width: 769px) {
  .top_fv_section .top_fv_info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 0;
    z-index: 1;
  }
}

.top_fv_section .top_fv_info .container {
  position: relative;
  height: 100%;
}

.top_fv_section .top_fv_info_inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.top_fv_section .top_fv_info .info_wrap {
  position: relative;
}

.top_fv_section .fv_main_area {
  position: relative;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .top_fv_section .fv_main_area {
    margin-bottom: 20px;
  }
}

.top_fv_section .fv_main_area .grid_area {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 202px;
  grid-template-columns: 1fr 202px;
  grid-column-gap: 20px;
}

.top_fv_section .fv_main_area .grid_area .column_left {
  position: relative;
}

.top_fv_section .fv_main_area .grid_area .column_right {
  position: relative;
}

.top_fv_section .fv_main_area .fv_title {
  position: relative;
}

.top_fv_section .fv_main_area .fv_title p {
  position: relative;
  font-family: "A-OTF Folk Pro";
  font-size: 27px;
  line-height: 1.4;
}

.top_fv_section .fv_main_area .fv_title h2 {
  position: relative;
  font-family: "A-OTF Folk Pro";
  font-size: 71px;
  font-weight: 500;
  line-height: 92px;
}

.top_fv_section .fv_main_area .fv_title h2 span {
  font-size: 92px;
  color: #FF4600;
  line-height: 1;
}

.top_fv_section .fv_main_area .fv_rank_img {
  position: relative;
  width: 100%;
}

.top_fv_section .fv_main_area .sp .fv_title {
  text-align: center;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.top_fv_section .fv_main_area .sp .fv_title h2 {
  display: inline;
  font-size: 52px;
  line-height: 72px;
}

.top_fv_section .fv_main_area .sp .fv_title h2 span {
  font-size: 69px;
}

.top_fv_section .fv_main_area .sp .fv_title .fv_rank_img {
  display: inline-block;
  width: 116px;
  vertical-align: top;
  margin-top: 3px;
}

.top_fv_section .fv_feature_list_container {
  position: relative;
  max-width: 740px;
  width: 100%;
  margin-bottom: 60px;
}

@media only screen and (max-width: 768px) {
  .top_fv_section .fv_feature_list_container {
    margin-bottom: 25px;
  }
}

.top_fv_section .fv_feature_list_container .row {
  margin-left: -12.5px;
  margin-right: -12.5px;
}

.top_fv_section .fv_feature_list_container .row > [class*="col_"] {
  padding-left: 12.5px;
  padding-right: 12.5px;
}

@media only screen and (max-width: 768px) {
  .top_fv_section .fv_feature_list_container .row .col_12:not(:last-child) {
    margin-bottom: 10px;
  }
}

.top_fv_section .fv_feature_list_container .fv_feature_item {
  position: relative;
  height: 100%;
  padding: 0 0 0 14px;
}

@media only screen and (max-width: 768px) {
  .top_fv_section .fv_feature_list_container .fv_feature_item {
    padding: 0 0 0 10px;
  }
}

.top_fv_section .fv_feature_list_container .fv_feature_item_inner {
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 34px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 34px rgba(0, 0, 0, 0.16);
  padding: 48px 0 0;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .top_fv_section .fv_feature_list_container .fv_feature_item_inner {
    padding: 46px 0 0;
  }
}

.top_fv_section .fv_feature_list_container .fv_feature_item .item_title {
  position: absolute;
  top: 12px;
  left: -14px;
  right: 0;
  background: #0C4D61;
  padding: 6px 10px 10px;
}

@media only screen and (max-width: 768px) {
  .top_fv_section .fv_feature_list_container .fv_feature_item .item_title {
    top: 10px;
    left: -10px;
  }
}

.top_fv_section .fv_feature_list_container .fv_feature_item .item_title::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 12px solid #1E1E1E;
  border-left: 14px solid transparent;
  border-right: 0;
  border-bottom: unset;
}

@media only screen and (max-width: 768px) {
  .top_fv_section .fv_feature_list_container .fv_feature_item .item_title::before {
    border-top-width: 6px;
    border-left-width: 10px;
  }
}

.top_fv_section .fv_feature_list_container .fv_feature_item .item_title h3 {
  position: relative;
  font-family: "A-OTF Folk Pro";
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .top_fv_section .fv_feature_list_container .fv_feature_item .item_title h3 {
    font-size: 16px;
  }
}

.top_fv_section .fv_feature_list_container .fv_feature_item .item_content {
  position: relative;
  padding: 13px 13px 18px;
}

@media only screen and (max-width: 768px) {
  .top_fv_section .fv_feature_list_container .fv_feature_item .item_content {
    padding: 10px 14px 12px;
  }
}

.top_fv_section .fv_feature_list_container .fv_feature_item .item_content .m_text {
  word-break: break-all;
}

.site_action_btn_nav {
  position: relative;
  max-width: 740px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .site_action_btn_nav {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-row-gap: 10px;
    max-width: 350px;
    margin: 0 auto;
  }
}

.site_action_btn_nav li {
  position: relative;
  padding: 0;
  margin: 0;
}

.site_action_btn_nav li .action_btn {
  position: relative;
  height: 60px;
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px 45px 8px 10px;
  text-decoration: none;
  outline: none;
  border-radius: 3px;
  background: #1073E5;
  border: 3px solid #1073E5;
}

@media only screen and (max-width: 768px) {
  .site_action_btn_nav li .action_btn {
    height: 56px;
    padding: 6px 40px 6px 10px;
  }
}

.site_action_btn_nav li .action_btn span {
  position: relative;
  display: block;
  font-family: "A-OTF Folk Pro";
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
  color: #FFFFFF;
  z-index: 3;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .site_action_btn_nav li .action_btn span {
    font-size: 15px;
  }
}

.site_action_btn_nav li .action_btn span small {
  font-size: 12px;
}

.site_action_btn_nav li .action_btn svg {
  position: absolute;
  top: 50%;
  right: 20px;
  width: initial;
  height: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .site_action_btn_nav li .action_btn svg {
    right: 16px;
  }
}

.site_action_btn_nav li .action_btn.free {
  position: relative;
  background: #1073E5;
  border-color: #1073E5;
}

.site_action_btn_nav li .action_btn.free.bgleft:hover span {
  color: #1073E5;
}

.site_action_btn_nav li .action_btn.free.bgleft:hover svg path {
  fill: #1073E5;
}

.site_action_btn_nav li .action_btn.paid {
  position: relative;
  background: #FF7700;
  border-color: #FF7700;
}

.site_action_btn_nav li .action_btn.paid.bgleft:hover span {
  color: #FF7700;
}

.site_action_btn_nav li .action_btn.paid.bgleft:hover svg path {
  fill: #FF7700;
}

.p_fv_section {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.p_fv_section .p_fv_img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  z-index: 0;
}

.p_fv_section .p_fv_img img {
  position: relative;
  width: 100%;
  height: 535px;
}

@media only screen and (max-width: 768px) {
  .p_fv_section .p_fv_img img {
    height: 345px;
  }
}

.p_fv_section .p_fv_info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.p_fv_section .p_fv_info .container {
  position: relative;
  height: 100%;
}

.p_fv_section .p_fv_info_inner {
  position: relative;
  height: 100%;
}

.p_fv_section .p_fv_title_area {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  max-width: 754px;
  padding: 10px 20px 12px 0;
}

@media only screen and (max-width: 768px) {
  .p_fv_section .p_fv_title_area {
    padding: 10px 20px 10px 0;
  }
}

.p_fv_section .p_fv_title_area::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(564px - 50vw);
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(#F9F9F9));
  background: linear-gradient(to right, #FFFFFF 0%, #F9F9F9 100%);
  z-index: 0;
}

@media (max-width: 1200px) {
  .p_fv_section .p_fv_title_area::before {
    left: -36px;
  }
}

.p_fv_section .p_fv_title_area .p_fv_title {
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.p_fv_section .p_fv_title_area .p_fv_title .lead_text {
  position: relative;
  font-size: 40px;
  line-height: 1.2;
  color: #01A0C6;
  text-align: left;
  background: -webkit-gradient(linear, left top, right top, from(#1a9185), color-stop(18.42%, #f0047f), color-stop(51.51%, #01a0c6), color-stop(75.34%, #ff8307), to(#141414));
  background: linear-gradient(to right, #1a9185 0%, #f0047f 18.42%, #01a0c6 51.51%, #ff8307 75.34%, #141414 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media print, screen and (max-width: 991px) {
  .p_fv_section .p_fv_title_area .p_fv_title .lead_text {
    font-size: 32px;
  }
}

@media only screen and (max-width: 768px) {
  .p_fv_section .p_fv_title_area .p_fv_title .lead_text {
    font-size: 28px;
  }
}

.p_fv_section .p_fv_title_area .p_fv_title p {
  position: relative;
  font-size: 20px;
  text-align: left;
  color: #0FA42D;
  margin-top: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#1a9185), color-stop(18.42%, #f0047f), color-stop(51.51%, #01a0c6), color-stop(75.34%, #ff8307), to(#141414));
  background: linear-gradient(to right, #1a9185 0%, #f0047f 18.42%, #01a0c6 51.51%, #ff8307 75.34%, #141414 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media only screen and (max-width: 768px) {
  .p_fv_section .p_fv_title_area .p_fv_title p {
    font-size: 18px;
    margin-top: 6px;
    line-height: 1.3;
  }
}

.c_about_info_container {
  position: relative;
}

.c_about_info_container .c_about_item {
  position: relative;
}

.c_about_info_container .c_about_item .flex_area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c_about_info_container .c_about_item .flex_area .column_left {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(50% - 14px);
}

@media only screen and (max-width: 768px) {
  .c_about_info_container .c_about_item .flex_area .column_left {
    width: 100%;
    margin-bottom: 20px;
  }
}

.c_about_info_container .c_about_item .flex_area .column_right {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(50% - 26px);
}

@media only screen and (max-width: 768px) {
  .c_about_info_container .c_about_item .flex_area .column_right {
    width: 100%;
  }
}

.c_about_info_container .c_about_item_img {
  position: relative;
  width: 100%;
}

@media print, screen and (min-width: 769px) {
  .c_about_info_container .c_about_item_img {
    min-height: 252px;
  }
}

.c_about_info_container .c_about_item_info {
  position: relative;
}

.c_project_list_container {
  position: relative;
}

.c_project_list_container .c_project_list {
  position: relative;
}

.c_project_list_container .c_project_item {
  position: relative;
  padding: 10px 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
  .c_project_list_container .c_project_item {
    padding: 20px 15px 30px;
  }
}

.c_project_list_container .c_project_item:not(:last-child) {
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .c_project_list_container .c_project_item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.c_project_list_container .c_project_item .grid_area {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 235px 1fr;
  grid-template-columns: 235px 1fr;
  grid-column-gap: 35px;
}

@media only screen and (max-width: 768px) {
  .c_project_list_container .c_project_item .grid_area {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-row-gap: 15px;
  }
}

.c_project_list_container .c_project_item .grid_area .column_left {
  position: relative;
}

.c_project_list_container .c_project_item .grid_area .column_right {
  position: relative;
}

.c_project_list_container .c_project_item_img {
  position: relative;
  width: 100%;
}

.c_project_list_container .c_project_item_img canvas {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .c_project_list_container .c_project_item_img {
    max-width: 163px;
    width: 100%;
    margin: 0 auto;
  }
}

.c_project_list_container .c_project_item_info {
  position: relative;
  padding: 13px 0 15px;
}

@media only screen and (max-width: 768px) {
  .c_project_list_container .c_project_item_info {
    padding: 0;
  }
}

.c_project_list_container .c_project_item_info .item_title {
  position: relative;
  padding-left: 34px;
  margin-bottom: 16px;
}

@media only screen and (max-width: 768px) {
  .c_project_list_container .c_project_item_info .item_title {
    padding-left: 0;
  }
}

.c_project_list_container .c_project_item_info .item_title h3 {
  position: relative;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .c_project_list_container .c_project_item_info .item_title h3 {
    text-indent: 30px;
  }
}

.c_project_list_container .c_project_item_info .item_title::before {
  content: "";
  position: absolute;
  top: 7.5px;
  left: 0;
  width: 19.32px;
  height: 17.89px;
  background-image: url(../img/common/computer_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 768px) {
  .c_project_list_container .c_project_item_info .item_title::before {
    top: 6.5px;
  }
}

.c_project_list_container .c_project_item_info .item_content {
  position: relative;
}

.c_project_list_container .c_project_item_info .item_content .info_spec_info_container {
  position: relative;
  margin-bottom: 10px;
  max-width: 576px;
}

.c_project_list_container .c_project_item_info .item_content .info_spec_info_container .info_spec_item {
  position: relative;
}

.c_project_list_container .c_project_item_info .item_content .info_spec_info_container .info_spec_item .flex_area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c_project_list_container .c_project_item_info .item_content .info_spec_info_container .info_spec_item .flex_area .column {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
}

@media only screen and (max-width: 768px) {
  .c_project_list_container .c_project_item_info .item_content .info_spec_info_container .info_spec_item .flex_area .column:first-child {
    width: 100%;
  }
}

.c_project_list_container .c_project_item_info .item_content .info_spec_info_container .info_spec_item .m_text {
  position: relative;
}

.c_project_list_container .c_project_item_info .item_content .info_spec_info_container .info_spec_item .m_text .notice_text {
  position: relative;
  display: inline-block;
  padding: 2px 12px 6px;
  border-radius: 13px;
  line-height: 18px;
  background-color: #0FA42D;
  color: #FFFFFF;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .c_project_list_container .c_project_item_info .item_content .info_spec_info_container .info_spec_item .m_text .notice_text {
    padding: 2px 9px 6px 10px;
    line-height: 14px;
    margin-right: 8px;
  }
}

.c_project_list_container .c_project_item_info .item_content .spec_info_table {
  position: relative;
  border-collapse: collapse;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}

.c_project_list_container .c_project_item_info .item_content .spec_info_table tr {
  border-bottom: 1px dashed #C8C8C8;
}

.c_project_list_container .c_project_item_info .item_content .spec_info_table tr:first-child {
  border-top: 1px dashed #C8C8C8;
}

.c_project_list_container .c_project_item_info .item_content .spec_info_table th, .c_project_list_container .c_project_item_info .item_content .spec_info_table td {
  position: relative;
  padding: 6px 10px 8px;
  vertical-align: middle;
  word-break: break-all;
}

.c_project_list_container .c_project_item_info .item_content .spec_info_table th {
  background: #F1F1F1;
  width: 120px;
}

@media only screen and (max-width: 768px) {
  .c_project_list_container .c_project_item_info .item_content .spec_info_table th {
    width: 108px;
  }
}

.c_project_list_container .c_project_item_info .item_content .spec_info_table td {
  text-align: right;
}

.c_project_list_container .c_project_item_info .item_content .tag_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin-left: -5px;
  margin-right: -5px;
}

.c_project_list_container .c_project_item_info .item_content .tag_list li {
  position: relative;
  display: inline-block;
  padding: 2px 12px 6px;
  font-family: "A-OTF Folk Pro";
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  background-color: #D4D4D4;
  color: #1E1E1E;
  margin: 0 5px;
}

.c_reason_list_container {
  position: relative;
}

.c_reason_list_container .c_reason_list {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 65px;
}

@media only screen and (max-width: 768px) {
  .c_reason_list_container .c_reason_list {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
}

.c_reason_list_container .c_reason_item {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 34px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 34px rgba(0, 0, 0, 0.1);
}

.c_reason_list_container .c_reason_item_img {
  position: relative;
  width: 100%;
}

.c_reason_list_container .c_reason_item_img img {
  width: 100%;
  height: 256px;
}

@media only screen and (max-width: 768px) {
  .c_reason_list_container .c_reason_item_img img {
    height: 216px;
  }
}

.c_reason_list_container .c_reason_item_info {
  position: relative;
  padding: 20px 24px 25px;
}

@media only screen and (max-width: 768px) {
  .c_reason_list_container .c_reason_item_info {
    padding: 16px 18px 20px;
  }
}

.c_reason_list_container .c_reason_item_info .item_title {
  position: relative;
  padding: 0;
  margin-bottom: 16px;
}

@media only screen and (max-width: 768px) {
  .c_reason_list_container .c_reason_item_info .item_title {
    margin-bottom: 10px;
  }
}

.c_reason_list_container .c_reason_item_info .item_title h3 {
  position: relative;
  font-family: "A-OTF Folk Pro";
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #1073E5;
  margin: 0;
}

.c_reason_list_container .c_reason_item_info .item_content {
  position: relative;
}

.c_feature_info_container {
  position: relative;
  max-width: 1048px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.c_feature_info_container .c_feature_info_list {
  position: relative;
}

.c_feature_info_container .c_feature_text_item {
  position: relative;
  display: block;
  padding: 8px 0 12px;
  margin: 0;
}

.c_feature_info_container .c_feature_text_item:not(:last-child) {
  border-bottom: 1px dashed #C8C8C8;
}

@media only screen and (max-width: 768px) {
  .c_feature_info_container .c_feature_text_item:last-child {
    border-bottom: 1px dashed #C8C8C8;
  }
  .c_feature_info_container .c_feature_text_item:first-child {
    border-top: 1px dashed #C8C8C8;
  }
}

.c_feature_info_container .c_feature_text_item .x_text {
  line-height: 2.0;
}

@media only screen and (max-width: 768px) {
  .c_feature_info_container .c_feature_text_item .x_text {
    font-size: 14px;
  }
}

.c_feature_info_container .c_feature_text_item .flex_area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

@media print, screen and (min-width: 769px) {
  .c_feature_info_container .c_feature_text_item .flex_area {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c_feature_info_container .c_feature_text_item .flex_area > [class*="col_"] {
  padding: 0 5px;
}

.usage_fee_info_container {
  position: relative;
}

.usage_fee_info_container .usage_fee_info_list {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
}

@media only screen and (max-width: 768px) {
  .usage_fee_info_container .usage_fee_info_list {
    grid-column-gap: 20px;
  }
}

.usage_fee_info_container .usage_fee_item {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
}

.usage_fee_info_container .usage_fee_item_img {
  position: relative;
  max-width: 208px;
  width: 100%;
  margin: 0 auto;
}

.usage_fee_info_container .usage_fee_item_img img {
  width: 100%;
}

.usage_fee_info_container .usage_fee_item_title {
  position: relative;
  padding: 20px 0 35px;
}

@media only screen and (max-width: 768px) {
  .usage_fee_info_container .usage_fee_item_title {
    padding: 15px 0 25px;
  }
}

.usage_fee_info_container .usage_fee_item_info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 15px 24px;
  min-height: 113px;
  background: #E8E8E8;
}

@media only screen and (max-width: 768px) {
  .usage_fee_info_container .usage_fee_item_info {
    padding: 13px 8px 16px;
  }
}

.usage_fee_info_container .usage_fee_item_info .info_wrap {
  position: relative;
  width: 100%;
}

.usage_fee_info_container .usage_fee_item_info .x_text {
  line-height: 34px;
}

@media only screen and (max-width: 768px) {
  .usage_fee_info_container .usage_fee_item_info .x_text {
    line-height: 28px;
    font-size: 16px;
  }
  .usage_fee_info_container .usage_fee_item_info .x_text .fs_31 {
    font-size: 24px !important;
    vertical-align: top;
  }
}

.escrow_service_step_img {
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .escrow_service_step_img {
    max-width: 335px;
    margin: 0 auto;
  }
}

.service_bank_info_container {
  position: relative;
  max-width: 722px;
  width: 100%;
  margin: 0 auto;
}

.service_bank_info_container .service_bank_list {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.service_bank_info_container .service_bank_item {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
}

.service_bank_info_container .service_bank_item .item_title {
  position: relative;
  background: #FFFFFF;
  padding: 6px 10px 10px;
}

.service_bank_info_container .service_bank_item .item_title .m_text {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .service_bank_info_container .service_bank_item .item_title .m_text {
    line-height: 24px;
  }
}

.service_bank_info_container .service_bank_item .item_content {
  position: relative;
  padding: 16px 10px 22px;
}

.top_operator_info_section {
  position: relative;
  padding: 120px 0 130px;
  background-image: url(../img/top/operator_info_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .top_operator_info_section {
    padding: 55px 0 60px;
  }
}

.top_operator_info_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.top_operator_info_section > * {
  position: relative;
  z-index: 1;
}

.operator_detail_info_container {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
}

.operator_detail_info_container .info_text_list {
  position: relative;
}

.operator_detail_info_container .info_text_item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 1fr;
  grid-template-columns: 110px 1fr;
  grid-column-gap: 10px;
}

@media only screen and (max-width: 768px) {
  .operator_detail_info_container .info_text_item {
    -ms-grid-columns: 90px 1fr;
    grid-template-columns: 90px 1fr;
  }
}

.operator_detail_info_container .info_text_item:not(:last-child) {
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  .operator_detail_info_container .info_text_item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.operator_detail_info_container .info_text_item .column {
  position: relative;
}

.p_flow_list_container {
  position: relative;
  counter-reset: step;
}

.p_flow_list_container .p_flow_list {
  position: relative;
}

.p_flow_list_container .p_flow_item {
  position: relative;
  padding: 24px 0;
  background: #F3F3F3;
}

@media only screen and (max-width: 768px) {
  .p_flow_list_container .p_flow_item {
    padding: 20px 0;
  }
}

.p_flow_list_container .p_flow_item:nth-of-type(even) {
  background: #FFFFFF;
}

.p_flow_list_container .p_flow_item .flex_area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p_flow_list_container .p_flow_item .flex_area .column_left {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 258px;
}

@media only screen and (max-width: 768px) {
  .p_flow_list_container .p_flow_item .flex_area .column_left {
    width: 100%;
    margin-bottom: 30px;
  }
}

.p_flow_list_container .p_flow_item .flex_area .column_right {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(100% - 258px - 60px);
  min-height: 148px;
}

@media only screen and (max-width: 768px) {
  .p_flow_list_container .p_flow_item .flex_area .column_right {
    width: 100%;
  }
}

.p_flow_list_container .p_flow_item_step {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.p_flow_list_container .p_flow_item_step_img {
  position: relative;
  width: 100%;
  z-index: 0;
}

.p_flow_list_container .p_flow_item_step::before {
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  counter-increment: step;
  content: "STEP " counter(step);
  font-family: "A-OTF Folk Pro";
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  color: #FFFFFF;
  padding-bottom: 4px;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .p_flow_list_container .p_flow_item_step::before {
    top: 46%;
    left: 50%;
    font-size: 25px;
  }
}

.p_flow_list_container .p_flow_item_info {
  position: relative;
}

.p_flow_list_container .p_flow_item_info .info_wrap {
  position: relative;
}

.p_flow_list_container .p_flow_item_info .item_title {
  position: relative;
  margin-bottom: 10px;
}

.p_flow_list_container .p_flow_item_info .item_title h3 {
  position: relative;
  font-family: "A-OTF Folk Pro";
  font-size: 25px;
  font-weight: 500;
  line-height: 34px;
  color: #1073E5;
}

@media only screen and (max-width: 768px) {
  .p_flow_list_container .p_flow_item_info .item_title h3 {
    font-size: 20px;
    line-height: 28px;
  }
}

.p_flow_list_container .p_flow_item_info .item_content {
  position: relative;
}

.p_flow_list_container .p_flow_item_info .btn_wrap {
  position: relative;
  margin-top: 15px;
}

.p_price_text_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 584px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #FF7700;
  border-radius: 2px;
  padding: 2px 15px 6px;
  min-height: 62px;
}

@media only screen and (max-width: 768px) {
  .p_price_text_box {
    min-height: 56px;
  }
}

.p_price_text_box .mx_text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p_price_text_box .mx_text span {
  display: inline-block;
}

.p_price_text_box .mx_text .price {
  position: relative;
  display: inline-block;
  font-size: 40px;
  line-height: 1;
  margin-left: 8px;
  vertical-align: text-bottom;
  color: #FF7700;
  padding-bottom: 8px;
}

@media only screen and (max-width: 768px) {
  .p_price_text_box .mx_text .price {
    padding-bottom: 3px;
    font-size: 26px;
  }
}

.p_fee_info_container {
  position: relative;
}

.p_fee_info_container .info_title {
  position: relative;
  margin-bottom: 18px;
}

@media only screen and (max-width: 768px) {
  .p_fee_info_container .info_title {
    margin-bottom: 15px;
  }
}

.p_fee_info_container .info_content {
  position: relative;
}

.p_register_form_container {
  position: relative;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
}

.p_register_form_container .p_register_form {
  position: relative;
}

.p_register_form_container .p_register_form .form_input_wrap {
  position: relative;
  margin-bottom: 60px;
}

@media only screen and (max-width: 768px) {
  .p_register_form_container .p_register_form .form_input_wrap {
    margin-bottom: 45px;
  }
}

.p_register_form_container .p_register_form .form_input_item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr;
  grid-template-columns: 150px 1fr;
  grid-column-gap: 10px;
}

@media only screen and (max-width: 768px) {
  .p_register_form_container .p_register_form .form_input_item {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-row-gap: 10px;
  }
}

.p_register_form_container .p_register_form .form_input_item:not(:last-child) {
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .p_register_form_container .p_register_form .form_input_item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.p_register_form_container .p_register_form .form_input_item .form_row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.p_register_form_container .p_register_form .form_input_item .form_row .form_col {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 208px;
  width: 50%;
  padding: 0 10px;
}

@media only screen and (max-width: 768px) {
  .p_register_form_container .p_register_form .form_input_item .form_row .form_col {
    width: 100%;
  }
  .p_register_form_container .p_register_form .form_input_item .form_row .form_col:not(:last-child) {
    margin-bottom: 10px;
  }
}

.p_register_form_container .p_register_form .form_input_item .label_wrap {
  position: relative;
  padding: 1px 0;
}

@media only screen and (max-width: 768px) {
  .p_register_form_container .p_register_form .form_input_item .label_wrap {
    padding: 0;
  }
}

.p_register_form_container .p_register_form .form_input_item .input_wrap {
  position: relative;
}

.p_register_form_container .p_register_form .form_input_item .label_text {
  position: relative;
  font-family: "A-OTF Folk Pro";
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
}

.p_register_form_container .p_register_form .form_input_item .required {
  position: relative;
  display: inline-block;
  font-family: "A-OTF Folk Pro";
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  background: #EE0000;
  padding: 2px 6px 5px 7px;
  border-radius: 2px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  vertical-align: text-bottom;
  margin-left: 15px;
}

.p_register_form_container .p_register_form .form_input_item .input_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p_register_form_container .p_register_form .form_input_item .input_item > * {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

.p_register_form_container .p_register_form .form_input_item .radio_group {
  position: relative;
}

.p_register_form_container .p_register_form .form_input_item .radio_group .radio_container {
  position: relative;
}

.p_register_form_container .p_register_form .form_input_item .radio_group .radio_container:not(:last-child) {
  margin-right: 30px;
}

.p_register_form_container .p_register_form .form_submit_wrap {
  position: relative;
}

.p_register_form_container .p_register_form .form_submit_wrap .confirm_term_item {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .p_register_form_container .p_register_form .form_submit_wrap .confirm_term_item {
    margin-bottom: 30px;
  }
}

.p_register_form_container .p_register_form .form_submit_wrap .submit_btn_item {
  position: relative;
}

.p_register_form_container .p_register_form .form_submit_wrap .submit_btn_item .submit_btn {
  padding-left: 40px;
  padding-right: 40px;
}

.sign_form_container {
  position: relative;
  padding: 80px 60px;
  background-image: url(../img/common/sign_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .sign_form_container {
    padding: 40px 20px;
  }
}

.sign_form_container .sign_form {
  position: relative;
}

.sign_form_container .sign_form_inner {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.sign_form_container .sign_form .user_avator {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 115px;
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .sign_form_container .sign_form .user_avator {
    margin-bottom: 30px;
    max-width: 100px;
  }
}

.sign_form_container .sign_form .user_avator img {
  position: relative;
  width: 100%;
}

.sign_form_container .sign_form .sign_input_wrap {
  position: relative;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .sign_form_container .sign_form .sign_input_wrap {
    margin-bottom: 35px;
  }
}

.sign_form_container .sign_form .sign_btn_wrap {
  position: relative;
}

.sign_form_container .sign_form .sign_btn_wrap .sign_btn {
  margin: 0 auto;
}

.sign_form_container .sign_form .form_input_item {
  position: relative;
  display: block;
}

.sign_form_container .sign_form .form_input_item:not(:last-child) {
  margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  .sign_form_container .sign_form .form_input_item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.sign_form_container .sign_form .form_input_item .input_label {
  position: relative;
  display: block;
  font-family: "A-OTF Folk Pro";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 3px;
}

@media only screen and (max-width: 768px) {
  .sign_form_container .sign_form .form_input_item .input_label {
    font-size: 14px;
  }
}

.sign_form_container .sign_form .form_input_item .input_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sign_form_container .sign_form .form_input_item .input_wrap > * {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

.sign_form_container .sign_form input[type="text"],
.sign_form_container .sign_form input[type="email"],
.sign_form_container .sign_form input[type="tel"],
.sign_form_container .sign_form input[type="number"],
.sign_form_container .sign_form input[type="password"],
.sign_form_container .sign_form select,
.sign_form_container .sign_form textarea {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .sign_form_container .sign_form input[type="text"],
  .sign_form_container .sign_form input[type="email"],
  .sign_form_container .sign_form input[type="tel"],
  .sign_form_container .sign_form input[type="number"],
  .sign_form_container .sign_form input[type="password"],
  .sign_form_container .sign_form select,
  .sign_form_container .sign_form textarea {
    font-size: 14px;
  }
}

.sign_form_container .sign_form button,
.sign_form_container .sign_form input[type="button"] {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  width: 100%;
  max-width: 220px;
  font-family: "A-OTF Folk Pro";
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 10px 8px 10px;
  text-decoration: none;
  outline: none;
  border-radius: 2px;
  background: transparent;
  border: 2px solid #FFFFFF;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .sign_form_container .sign_form button,
  .sign_form_container .sign_form input[type="button"] {
    font-size: 14px;
  }
}

.sign_form_container .sign_form button span,
.sign_form_container .sign_form input[type="button"] span {
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 3;
}

.sign_form_container .sign_form button::before,
.sign_form_container .sign_form input[type="button"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  z-index: 1;
}

.sign_form_container .sign_form button:focus span,
.sign_form_container .sign_form input[type="button"]:focus span {
  color: #3A7ABD;
}

.sign_form_container .sign_form button:focus::before,
.sign_form_container .sign_form input[type="button"]:focus::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}

@media print, screen and (min-width: 769px) {
  .sign_form_container .sign_form button:hover span,
  .sign_form_container .sign_form input[type="button"]:hover span {
    color: #3A7ABD;
  }
  .sign_form_container .sign_form button:hover::before,
  .sign_form_container .sign_form input[type="button"]:hover::before {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}

@media print, screen and (max-width: 991px) {
  .c_problem_info_part .grid_area {
    grid-column-gap: 30px;
  }
  .c_problem_info_part .grid_area .problem_text_list li {
    font-size: 20px;
    padding-left: 40px;
  }
  .c_problem_info_part .grid_area .problem_text_list li::before {
    top: 10px;
    width: 25.63px;
    height: 24.97px;
  }
  .c_problem_info_part .grid_area .c_part_img img {
    min-height: 272px;
  }
  .c_seminar_info_list_container .c_seminar_item .flex_area .column_left {
    width: 50%;
  }
  .c_seminar_info_list_container .c_seminar_item .flex_area .column_right {
    width: calc(50% - 30px);
  }
  .c_seminar_info_list_container .c_seminar_item:not(:last-child) {
    margin-bottom: 90px;
  }
  .c_news_info_container .c_news_info_list {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .c_apply_actions_area .c_apply_action_list {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
  .p_company_info_container .company_title h3 {
    font-size: 26px;
  }
  .post_single_info_container .post_date {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .c_seminar_slider_container {
    padding: 0;
  }
  .c_seminar_slider_container .c_seminar_info_slider {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-row-gap: 30px;
  }
  .c_problem_info_part .grid_area {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-row-gap: 22px;
  }
  .c_problem_info_part .grid_area .problem_text_list li {
    font-size: 16px;
    padding-left: 35px;
    line-height: 2.4;
  }
  .c_problem_info_part .grid_area .problem_text_list li::before {
    top: 10px;
    width: 21.63px;
    height: 20.97px;
  }
  .c_problem_info_part .grid_area .c_part_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.16);
    z-index: 1;
  }
  .c_problem_info_part::after {
    width: 178px;
    height: 57px;
  }
  .c_problem_info_part {
    position: relative;
    padding-bottom: 80px;
  }
  .c_seminar_info_part .c_part_img {
    max-width: 242px;
  }
  .c_seminar_info_list_container .c_seminar_item .flex_area .column_left {
    width: 100%;
    margin-bottom: 22px;
  }
  .c_seminar_info_list_container .c_seminar_item .flex_area .column_right {
    width: 100%;
  }
  .c_seminar_info_list_container .c_seminar_item:not(:last-child) {
    margin-bottom: 60px;
  }
  .c_seminar_slider_container .c_seminar_info_slider .slick-next,
  .c_seminar_slider_container .c_seminar_info_slider .slick-prev {
    height: 80px;
    width: 18px;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
  }
  .c_seminar_slider_container .c_seminar_info_slider .slick-prev {
    left: -28px;
  }
  .c_seminar_slider_container .c_seminar_info_slider .slick-next {
    right: -28px;
  }
  .c_seminar_slider_container .c_seminar_slider_item {
    -webkit-box-shadow: 0 13px 36px rgba(0, 0, 0, 0.16);
            box-shadow: 0 13px 36px rgba(0, 0, 0, 0.16);
  }
  .c_seminar_slider_container .c_seminar_slider_item .slider_item_img img {
    height: auto;
  }
  .c_seminar_slider_container .c_seminar_slider_item .slider_item_info {
    position: relative;
    padding: 18px 20px;
  }
  .c_seminar_slider_container .c_seminar_slider_item .slider_item_info .date_text {
    margin-bottom: 8px;
  }
  .c_news_info_container .c_news_item_img img {
    height: 186px;
  }
  .c_news_info_container .c_news_item_info {
    padding: 20px;
  }
  .p_company_info_container .company_title h3 {
    font-size: 22px;
    line-height: 1.8;
  }
  .p_company_info_container .company_title {
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .p_company_info_container .company_text_area .text_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -8px;
  }
  .p_company_info_container .company_text_area .text_item .name {
    width: 100%;
    margin-right: 0;
  }
  .p_company_info_container .company_text_area .text_item .value {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
  .c_apply_actions_area .c_apply_action_list {
    grid-row-gap: 20px;
  }
  .c_seminar_slider_container .c_seminar_info_list {
    grid-row-gap: 30px;
  }
  .post_single_info_container .post_tags .tag_text {
    position: relative;
    padding: 2px 22px 4px;
    font-size: 20px;
  }
  .post_single_info_container .post_date {
    font-size: 16px;
    margin-top: 30px;
  }
  .post_single_info_container .post_date span::before {
    width: 19px;
    height: 19px;
    top: 5px;
  }
  .post_single_info_container .post_date span {
    padding-left: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
